<template>
	<div class="admin" id="admin-page">
		<div class="FormControl card" :class="{hide: current}">
			<div class="card-content">
				<template v-if="!isShowFormBeckaps">
					<router-link class="btn" to="/admin">Все опросы</router-link>
					<router-link class="btn" v-if="tree" :to="`/${tree.idRoot}/${tree.idRoot}`">Режим просмотра
					</router-link>
					<button class="btn" :disabled="isProcessSave" @click="save" v-if="Permiss['opros-save']">Сохранить
					</button>

					<a class='dropdown-trigger btn' href='#' data-target='dropdown-beckaps' :disabled="isProcessSave">Восстановление</a>
					<ul id='dropdown-beckaps' class='dropdown-content' :disabled="isProcessSave">
						<li :disabled="isProcessSave" @click="saveBeckap" v-if="Permiss['beckap-save']"><a>Сохранить
							бекап</a></li>
						<li :disabled="isProcessSave" @click="selectBeckap" v-if="Permiss['beckap-load']"><a>Загрузить
							бекап</a></li>
						<li :disabled="isProcessSave" @click="saveTemplate" v-if="Permiss['template-create']"><a>Сохранить
							шаблон</a></li>
						<li :disabled="isProcessSave" @click="toast('Функционал не реализован')"><a>Список шаблонов</a>
						</li>
					</ul>

					<a class='dropdown-trigger btn' href='#' data-target='dropdown-additions' :disabled="isProcessSave">Дополнительно</a>
					<ul id='dropdown-additions' class='dropdown-content' :disabled="isProcessSave">
						<li :disabled="isProcessSave" @click="removeOpros" v-if="Permiss['opros-remove']"><a>Удалить
							опрос</a></li>
					</ul>
				</template>
				<template v-else>
					<button class="btn" @click="selectBeckap">Отмена</button>
				</template>
			</div>
		</div>
		<tree-chart
			:style="`transform: scale(${scale});`"
			v-if="isShowTree" class="tree" :json="this.tree"
			@click-node="onClick" @hide="onClose"
			@set-width="onDrawTree"
			ref="treeChart"
		/>
		<form-load-beckap v-if="isShowFormBeckaps" @select="onSelectBeckaps" :id="this.$route.params.id"/>
		<form-edit ref="FormEdit" class="FormEdit" v-if="current && !isFormEditStruct" :current="current"
				   v-click-outside="onClose"
				   @change="Change"/>
		<form-edit-struct
			ref="FormEditStruct" class="FormEditStruct"
			v-if="current && isFormEditStruct" :current="current" v-click-outside="onClose" @close="onClose"
			@change="Change"
			@insert="insertLocal"
		/>
		<button @click="onScale('+')" :class="{hide: current}" class="btn-plus btn-floating btn-large waves-effect waves-light red">+</button>
		<button @click="onScale('-')" :class="{hide: current}" class="btn-minus btn-floating btn-large waves-effect waves-light red">-</button>
	</div>
</template>

<script>
    import TreeChart from '../components/MyTreeChart'
    import FormEdit from '../components/FormEdit'
    import FormEditStruct from '../components/FormEditStruct'
    import FormLoadBeckap from '../components/FormLoadBeckap'

    import clickOutside from '../clickOutside'
    import CoreMixin from '../core-mixins'
    import AdminTouchMixins from '../admin-touch-mixins'

    import {mapState, mapActions, mapGetters} from 'vuex'

    export default {
        mixins: [CoreMixin, AdminTouchMixins],
        components: {
            TreeChart,
            FormEdit,
            FormEditStruct,
            FormLoadBeckap,
        },
        directives: {clickOutside},
        data: () => ({
            current: false,
            isProcessOpen: false,
            tree: [],
            isShowTree: false,
            isShowFormBeckaps: false,
            isProcessSave: false,
            scale: 1,
            isMove: false,
            startMove: {x: null, y: null},
            currentMove: {x: null, y: null},
            resultDelteMove: {x: window.innerWidth / 4, y: 200},
        }),
        async created() {
            let toast = M.toast({html: "Загрузка"})
            await Promise.all([
                this.$store.dispatch('load', this.$route.params.id),
                this.loadProps(),
                this.$store.dispatch('load-list-opros'),
            ])
            toast.dismiss();
        },
        async mounted() {
            if (this.$route.params.idShow) {
                await this.$nextTick();
                this.show();
            }
            if (this.isLoad == false) {
                this.isShowTree = true;
                this.updateTree();
            }
            this.$el.focus();

            if (this.$el.addEventListener) {
                if ('onwheel' in document) {
                    // IE9+, FF17+, Ch31+
                    this.$el.addEventListener("wheel", this.onScroll);
                } else if ('onmousewheel' in document) {
                    // устаревший вариант события
                    this.$el.addEventListener("mousewheel", this.onScroll);
                } else {
                    // Firefox < 17
                    this.$el.addEventListener("MozMousePixelScroll", this.onScroll);
                }
            } else { // IE8-
                this.$el.attachEvent("onmousewheel", this.onScroll);
            }
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, {coverTrigger: false});
        },
        updated() {
            if (this.$el.addEventListener) {
                if ('onwheel' in document) {
                    // IE9+, FF17+, Ch31+
                    this.$el.addEventListener("wheel", this.onScroll);
                } else if ('onmousewheel' in document) {
                    // устаревший вариант события
                    this.$el.addEventListener("mousewheel", this.onScroll);
                } else {
                    // Firefox < 17
                    this.$el.addEventListener("MozMousePixelScroll", this.onScroll);
                }
            } else { // IE8-
                this.$el.attachEvent("onmousewheel", this.onScroll);
            }
        },
        computed: {
            ...mapState('Props', {Props: 'items'}),
            isFormEditStruct() {
                return this.Props.find(item => item.Slug == 'FormEditStruct')
            },
            items() {
                return this.$store.state.items;
            },
            isLoad() {
                return this.$store.state.isLoad
            },
            delteMove() {
                console.log(this.resultDelteMove)
                if (this.isMove) {
                    return {
                        x: (this.currentMove.x - this.startMove.x) * (2 - this.scale) + this.resultDelteMove.x,
                        y: (this.currentMove.y - this.startMove.y) * (2 - this.scale) + this.resultDelteMove.y
                    };
                }
                return this.resultDelteMove;
            },
        },
        watch: {
            items() {
                console.log('watch items', this.items.length);
                if (this.items.length) this.updateTree();
            },
            isLoad() {
                if (this.isLoad == false) this.isShowTree = true;
            },
            async '$route'() {
                if (!this.$route.params.idShow) {
                    this.current = false;
                }
                if (this.$route.query.action) {
                    console.log('watch this.$route.query.action')
                    if (this.$route.query.action === 'remove') {
                        this.$store.commit('remove', this.$route.params.id);
                        this.$store.commit('append_remove', this.$route.params.id);
                        this.$router.push(`/admin/${this.tree.idRoot}`);
                        this.isShowTree = false;
                        await this.$nextTick();
                        await this.$nextTick();
                        this.isShowTree = true;
                    }
                    if (this.$route.query.action === 'create') {
                        this.current = {
                            id: this.getNewTempId(),
                            idRoot: this.tree.idRoot,
                            name: this.$route.query.name || 'Новый вариант',
                            desc: this.$route.query.desc || '',
                            img: this.$route.query.img || null,
                            calc: this.$route.query.calc || null,
                            idParent: this.$route.query.idParent,
                            sort: this.items.filter(item => item.idParent == this.$route.query.idParent).length + 1,
                        }
                        this.isShowTree = false;
                        await this.$nextTick();
                        this.isShowTree = true;
                    }
                }
            },
            async isShowFormBeckaps() {
                await this.$nextTick();
                var elems = document.querySelectorAll('.dropdown-trigger');
                var instances = M.Dropdown.init(elems, {coverTrigger: false});
            }
        },
        methods: {
            ...mapActions('Props', {loadProps: 'load'}),
            onDrawTree() {
                let x = this.$el.scrollWidth// / 2// - this.$el.clientWidth / 2
                //console.log(x)
                window.scrollTo(x, 0)
            },
            toast(mes) {
                M.toast({html: mes})
            },
            onScroll(e) {
                if (this.$refs.FormEdit) return;
                if (this.$refs.FormEditStruct) return;

                if (e.ctrlKey || true) {
                    if (e.deltaY > 0) {
                        this.scale -= 0.1;
                    } else {
                        this.scale += 0.1;
                    }
                    e.preventDefault();
                    return false;
                }
            },
            async onScale(type = '+') {
                let scroll = window.scrollX / this.$el.scrollWidth
                if (type == '+') {
                    this.scale += 0.1;
                }
                if (type == '-') {
                    this.scale -= 0.1;
                }
                this.$refs.treeChart.resize(this.scale)
                await this.$nextTick();
                console.log(scroll)
                window.scrollTo(scroll * this.$el.scrollWidth, 0)
            },
            updateTree() {
                let tree = this.items.find(item => item.id == item.idRoot || item.idParent == null);
                let vm = this;

                function recurs(tree, childrens) {
                    if (!tree) return;
                    if (tree.calc) tree._calc = JSON.parse(tree.calc); else tree._calc = {
                        services: [],
                        consts: [],
                        formula: []
                    }
                    tree.children = childrens ? childrens.filter(item => item.idParent == tree.id) || [] : [];
                    for (let item of tree.children) {
                        recurs(item, childrens)
                    }
                }

                recurs(tree, this.items);
                console.log({tree})
                this.$set(this, 'tree', tree);
            },
            async show() {
                this.isProcessOpen = true;
                let current = this.items.find(item => item.id == this.$route.params.idShow)
                this.$set(this, 'current', current);
                //await this.$nextTick()
                this.isProcessOpen = false;
            },
            insertLocal(item) {
                console.log('insertLocal')
                console.log({item})
                this.$store.commit('update', item)
            },
            async onClick(e) {
                console.log('onClick node ');
                if (this.isMove) return;
                this.$router.push(`/admin/${this.tree.idRoot}/${e.id}`);
                this.show()
            },
            onClose(e) {
                if (e && e.path.map(e => e.classList ? e.classList.value : '').includes('avat')) {

                } else {
                    this.$router.push(`/admin/${this.tree.idRoot}`);
                    //this.current = false;
                    document.body.style.overflow = 'auto'
                }
                this.refreshTreeChart();
            },
            async Change(item) {
                console.log(item)
                item.calc = item._calc ? JSON.stringify(item._calc) : null;
                this.$store.commit('update', item);
            },
            async refreshTreeChart() {
                this.isShowTree = false;
                await this.$nextTick();
                this.isShowTree = true;
            },
            async save() {
                this.current = false;
                let toast = M.toast({html: "Сохранение"})
                this.isProcessSave = true;
                if (!await this.$store.dispatch('save', this.tree)) {
                    M.toast({html: "Ошибка сохранения"})
                }
                this.isProcessSave = false;
                toast.dismiss();
            },
            async saveBeckap() {
                let toast = M.toast({html: "Сохранение бекапа"})
                this.isProcessSave = true;
                await this.$store.dispatch('saveBeckap', {tree: this.tree, idOpros: this.tree.id}).then(res => {
                    if (!res.ok) M.toast({html: "Ошибка сохранения бекапа"});
                })
                this.isProcessSave = false;
                toast.dismiss();
            },
            async saveTemplate() {
                let toast = M.toast({html: "Сохранение шаблона"})
                this.isProcessSave = true;
                await this.$store.dispatch('saveTemplate', {tree: this.tree, idOpros: this.tree.id}).then(res => {
                    if (!res.ok) M.toast({html: "Ошибка сохранения бекапа"});
                })
                this.isProcessSave = false;
                toast.dismiss();
            },
            async removeOpros() {
                if (confirm('Удалить опрос?')) {
                    let toast = M.toast({html: "Удаление опроса"})
                    this.isProcessSave = true;
                    await this.$store.dispatch('removeOpros', this.tree)
                    this.isProcessSave = false;
                    this.$router.push('/admin')
                    toast.dismiss();
                }
            },
            async onSelectBeckaps(item) {
                let toast = M.toast({html: "Восстановление из бекапа"})
                this.isProcessSave = true;
                await this.$store.dispatch('removeOpros', this.tree)
                await this.$store.dispatch('restoreBeckap', item.id);
                await this.$store.dispatch('load', this.$route.params.id);
                this.isShowFormBeckaps = false;
                this.isShowTree = true;
                this.isProcessSave = false;
                toast.dismiss();
            },
            selectBeckap() {
                this.isShowFormBeckaps = !this.isShowFormBeckaps;
                if (this.isShowFormBeckaps) this.isShowTree = false;
                else this.isShowTree = true;
            },
        }
    }
</script>

<style lang="scss" scoped>
	.admin {
		min-height: 100%;
		//overflow: hidden;
	}

	.tree {
		//margin-right: 600px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		//min-height: 100vh;
		position: relative;
		top: 200px;
	}

	.FormEdit, .FormEditStruct {
		-webkit-box-shadow: -10px 0px 5px -5px rgba(0, 0, 0, 0.36);
		-moz-box-shadow: -10px 0px 5px -5px rgba(0, 0, 0, 0.36);
		box-shadow: -10px 0px 5px -5px rgba(0, 0, 0, 0.36);
	}

	.FormControl {
		position: fixed;
		top: -2rem;
		left: 0rem;
		width: 100%;
		z-index: 100;
		transition: all .3s;

		&.hide {
			top: -2rem;
			opacity: 0;
			display: block !important;
		}

		.card-content {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			padding-left: 0px;
			padding-right: 0px;
			max-width: 100vw;

			& > * {
				margin-top: 1rem;
			}
		}
	}

	.dropdown-content {
		min-width: 200px;
	}

	#dropdown-additions {
		&.dropdown-content li > a, &.dropdown-content li > span {
			color: red;
		}
	}

	.btn-plus {
		position: fixed;
		bottom: 6rem;
		right: 1rem;
	}

	.btn-minus {
		position: fixed;
		bottom: 1rem;
		right: 1rem;
	}
</style>