<template>
    <div class="container">
        <div class="card props">
            <div class="card-content">
                <router-link class="btn" to="/admin">Назад</router-link>
                <button class="btn" @click="saveProps">Сохранить</button>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">Настройки редактирования элемента опроса</div>
                <p v-for="item in Values">
                    <label>
                        <input type="checkbox"  v-model="item.value" :disabled="!!item.readonly"/>
                        <span>{{item.title}}</span>
                    </label>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'

    export default {
        name: "AdminProps",
        data: () => ({
            Values: []
        }),
        computed: {
            ...mapState('Props', ['items'])
        },
        async created() {
            let t = M.toast({html: 'Загрузка'})
            try {
                await this.load();
                this.Values = this.items;
                t.dismiss()
            } catch (e) {
                M.toast({html: e})
            }
        },
        methods: {
            ...mapActions('Props', ['load', 'save']),
            async saveProps() {
                let t = M.toast({html: 'Сохранение'})
                try {
                    await this.save(this.Values);
                    t.dismiss();
                    this.$router.push('/admin')
                } catch (e) {
                    M.toast({html: e})
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
    .card {
        &.props .card-content {
            display: flex;
            justify-content: space-between;
        }

        .card-title {
            & + p {
                margin-top: 20px;
            }
        }
    }
</style>