<template>
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="card">
				<div class="card-content">
					<div class="input-field">
						<input id="login" type="text" v-model="Login" @keyup.enter="PassActive"/>
						<label for="login">Login </label>
					</div>
					<div class="input-field">
						<input id="Password" type="password" v-model="Pass" @keyup.enter="Auth" ref="Pass"/>
						<label for="Password">Password </label>
					</div>
					<button @click="Auth">Войти</button>
				</div>
			</div>
		</div>
		<div>
			<div id="btn-back" class="" @click="back">Назад</div>
			<router-link id="btn-sign-in" class="" to="SignIn">Регистрация</router-link>
		</div>
	</div>
</template>

<script>
    import CoreMixin from '../core-mixins'

    export default {
        mixins: [CoreMixin],
        name: "Auth",
        data: () => ({
            Login: '',
            Pass: '',
            from: '/Admin'
        }),
        watch: {
            '$route'(to, from) {
                this.from = from;
            }
        },
        methods: {
            PassActive() {
                this.$refs.Pass.focus();
            },
            async Auth() {
				if (this.Login == '' && this.Pass == '') return;
                await this.LoginMethod(this)
                if (this.isAuth) {
                    if (this.isAdmin || this.isDemo) this.$router.push('/Admin');
                    else this.$router.push('/user-area');
                } else {
                    M.toast({html: "Пароль не верен"});
                    this.Pass = '';
                }
            },
			back() {
				this.$router.go(-1)
			}
        }
    }
</script>

<style scoped lang="scss">
	@import '../../node_modules/materialize-css/sass/materialize.scss';

	#btn-back {
		@extend .btn;
		position: fixed;
		top: 20px;
		left: 20px;
	}

	#btn-sign-in {
		@extend .btn;
		position: fixed;
		top: 20px;
		right: 20px;
	}

	button {
		@extend .btn;
		margin-top: 10px;
	}

	.card {
		margin-top: 10vh;
	}

	.card-content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.input-field {
			width: 100%;
		}
	}
</style>