<template>
    <div class="beckaps">
    </div>
</template>

<script>
    import TreeChart from '@/components/TreeChart'
    import FormEdit from '@/components/FormEdit'
    import clickOutside from '@/clickOutside'
    export default {
        props: {
            id: { type: Number, default: null }
        },
        components: {
        },
        data: () => ({
            beckaps: []
        }),
        created() {
            this.TestPermiss('beckaps-load')
            this.$store.dispatch('load-list-opros');
            this.$store.dispatch('load-list-beckaps', this.id);
        },
    }
</script>

<style lang="scss" scoped>
    .tree {
        margin-right: 600px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .FormEdit {
        -webkit-box-shadow: -10px 0px 5px -5px rgba(0,0,0,0.36);
        -moz-box-shadow: -10px 0px 5px -5px rgba(0,0,0,0.36);
        box-shadow: -10px 0px 5px -5px rgba(0,0,0,0.36);
    }
    .FormControl {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100;

        &>* {
            margin-right: 1rem;
        }
    }
</style>