<template>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <form-calc
                        :consts="values.consts"
                        :services="values.services"
                        :formula="values.formula"
                        :id="values.id"
                        @save="saveCalc"
                        @create="createCalc"
                        @remove="removeCalc"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapGetters, mapActions} from 'vuex'
    import draggable from 'vuedraggable'
    import FormCalc from './../components/FormCalc';

    export default {
        name: "Calc",
        computed: {
            ...mapGetters('Calc', ['getById']),
        },
        async created() {
            await this.load();
            this.$set(this, 'values', this.getById(this.$route.params.id));
            if (this.values.id) {
                this.$set(this.values, 'services', JSON.parse(this.getById(this.$route.params.id).services));
                this.$set(this.values, 'consts', JSON.parse(this.getById(this.$route.params.id).consts));
                this.$set(this.values, 'formula', JSON.parse(this.getById(this.$route.params.id).formula));
            } else {
                this.$set(this.values, 'services', []);
                this.$set(this.values, 'consts', []);
                this.$set(this.values, 'formula', []);
            }
        },
        mounted() {
        },
        data: () => ({
            values: {
                id: null,
                services: [],
                consts: [],
                formula: [],
            },
            choseFormulaItem: {},
            operands: [{"key": "+", "name": "+"}, {"key": "-", "name": "-"}, {"key": "/", "name": "/"}, {
                "key": "*",
                "name": "*"
            }, {"key": "(", "name": "("}, {"key": ")", "name": ")"}],
            select_instances: [],
        }),
        methods: {
            ...mapActions('Calc', ['load', 'remove', 'save', 'create']),
            async removeCalc(id) {
                let t = M.toast({html: 'Удаление'});
                await this.remove(id);
                this.$router.push('/admin')
                t.dismiss();
            },
            async saveCalc(item) {
                let t = M.toast({html: 'Сохранение'});
                await this.save(item);
                t.dismiss();
            },
            async createCalc(item) {
                let t = M.toast({html: 'Создание'});
                let id = await this.create(item);
                this.$router.push({name: this.$route.name, params: {id}})
                this.values.id = id;
                t.dismiss();
            },
        },
        components: {
            draggable,
            FormCalc
        }
    }
</script>

