<template>
	<div class="container">
		<div class="row" v-if="item">
			<div class="col s12">
				<div class="card horizontal">
					<div class="card-image">
						<img :src="item.img" ref="img" v-show="item.img && !isShowVideo" @click="showVideo">
                        <template v-if="item.VideoBig">
                            <video autobuffer ref="videoBig"
                                :src="item.VideoBig" v-show="isShowVideoBig || (!item.img)"
                                :controls="!item.img"
                                :style="sizeVideo"
                            />
                        </template>
                        <template v-if="item.VideoSmall">
                            <video autobuffer ref="videoSmall"
                                :src="item.VideoSmall" v-show="isShowVideoSmall || (!item.img)"
                                :controls="!item.img"
                                :style="sizeVideo"
                            />
                        </template>
					</div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title" v-html="item.name"/>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<p v-html="item.desc"/>
						<calc v-if="item && calc" :consts="calc.consts" :services="calc.services"
							  :formula="calc.formula" @appendToCard="saveLocal"/>
					</div>
					<div class="collection" v-if="children">
						<template v-for="(item, index) in children">
							<router-link :key="`item-${index}`"
								class="collection-item"
								:to="`/${item.idRoot}/${hasValue(item.to) ? item.to : item.id}`"
							>
                                <span>
                                    <img :src="item.img" v-show="item.img"/>
                                </span>
								<span v-html="item.name"/>
							</router-link>
						</template>
						<router-link
							v-if="item && item.idParent"
							class="collection-item"
							:to="`/${item.idRoot}/${item.idParent}`"
						>
							<img/>
							<span>Возврат</span>
						</router-link>
					</div>
				</div>
			</div>
		</div>
		<router-link :to="`/admin/${item.idRoot}/${item.id}`" v-if="item && (isAdmin || isDemo)" id="btn-edit"
					 class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i>
		</router-link>
		<router-link :to="`/user-area`" v-if="item && isAuth && !(isAdmin || isDemo)" id="btn-profile"
					 class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">account_circle</i>
		</router-link>
		<router-link :to="`/Auth`" v-if="item && !isAuth" id="btn-profile"
					 class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">account_circle</i>
		</router-link>
		<router-link to="/store" v-if="item && isPropsCalc == 1" id="btn-store"
					 class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">shopping_cart</i>
		</router-link>
	</div>
</template>

<script>
    // @ is an alias to /src

    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'
    import CoreMixin from '../core-mixins';
    import CoreViewMixin from '../calc-view-mixins';
    import Calc from "../components/Calc";
    import StoreValuesMixin from '../store-values-mixins';

    export default {
        mixins: [CoreMixin, CoreViewMixin, StoreValuesMixin],
        name: 'home',
        async created() {
            let toast = M.toast({html: "Загрузка"})
            this.isPropsCalc = await this.$store.dispatch('get-props-calc')
            await this.$store.dispatch('load', this.idRoot)
            toast.dismiss();
        },
        mounted() {
            this.refreshSizeVideo()
            let vm = this;
            setTimeout(() => {
                vm.showVideo()
            }, 1000);
        },
        watch: {
            async '$route'() {
                localStorage.CurrentPage = location.href;
                if (!this.$store.state.items.find(item => item.id == this.id)) {
                    let toast = M.toast({html: "Загрузка"})
                    await this.$store.dispatch('load', this.id)
                    toast.dismiss();
                }
                if (this.$refs.videoBig) this.$refs.videoBig.pause()
                if (this.$refs.videoSmall) this.$refs.videoSmall.pause()
                this.isShowVideo = false;
                this.isShowVideoBig = false;
                this.isShowVideoSmall = false;
                let vm = this;
                setTimeout(() => {
                    vm.showVideo()
                }, 1000);
            },
            item() {
                this.refreshSizeVideo()
            }
        },
        computed: {
            sizeVideo() {
                if (this.size.width) {
                    return `width: ${this.size.width}px; height: ${this.size.height}px; margin-bottom: -4px;`
                } else {
                    return ``
                }
            },
            id() {
                return this.$route.params.id
            },
            idRoot() {
                return this.$route.params.idRoot || 'first'
            },
            isShowBigVideo() {
                return this.item.VideoBig
            },
            isShowSmallVideo() {
                return !this.item.VideoBig && this.item.VideoSmall
            },
            items() {
                return this.$store.state.items;
            },
            item() {
                console.log('item')
                let item = {};
                if (this.current)
                    item = this.$store.state.items.find(item => item.id == this.current);
                else
                    item = this.$store.state.items.find(item => item.idParent == null);
                return item;
            },
            children() {
                return this.$store.state.items
                    .filter(item => item.idParent == this.item.id)
                    .sort((item1, item2) => Number(item1.sort) >= Number(item2.sort) ? 1 : -1);
            },
            current() {
                let id = this.id;
                return (id == 'null' || !id) ? false : id;
            },
        },
        components: {Calc},
        data: () => ({
            isShowVideo: false,
            isPlayVideo: false,
            isShowVideoBig: false,
            isShowVideoSmall: false,
            isPropsCalc: false,
            size: {
                height: 0,
                width: 0,
                'margin-bottom': -4,
            }
        }),
        methods: {
            async refreshSizeVideo() {
                await  this.$nextTick()
                try {
                    if (this.$refs.img) {
                        this.size.width = this.$refs.img.getBoundingClientRect().width
                        this.size.height = this.$refs.img.getBoundingClientRect().height
                        this.size['margin-bottom'] = '-4px'
                    }
                } catch (err) {
                    console.log({err})
                }
            },
            async showVideo() {
                this.isShowVideo = true;
                if (this.item.VideoBig) {
                    this.isShowVideoBig = true;
                    await this.$nextTick();
                    this.$refs.videoBig.play();
                    let vm = this;
                    this.$refs.videoBig.onended = function () {
                        vm.isShowVideo = false;
                        vm.isShowVideoBig = false;
                    }
                } else {
                    this.isShowVideoSmall = true;
                    await this.$nextTick();
                    this.$refs.videoSmall.play();
                    let vm = this;
                    this.$refs.videoSmall.onended = function () {
                        vm.isShowVideo = false;
                        vm.isShowVideoSmall = false;
                    }
                }

                //VideoSmall

            },
            play(e) {
                try {
                    e.target.play()
                } catch (e) {
                    let toast = M.toast({html: "Ошибка воспроизведения"})
                }
            },
            saveLocal({ServicesValues, ConstsValues}) {
                try {
                    this.AppendStoreValues(
                        this.$route.params.id,
                        this.$route.params.idRoot,
                        this.item.name,
                        this.item.desc,
                        this.calc.consts,
                        this.calc.services,
                        this.calc.formula,
                        ServicesValues,
                        ConstsValues
                    );
                    M.toast({html: 'Подсчет сохранен'})
                } catch (e) {
                    M.toast({html: 'Произошла ошибка'})
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
	video {
		width: 100%;
	}


	.collection a {
		display: grid;
		grid-template: "img span" / 5rem 1fr;
		grid-gap: 1rem;

		img {
			grid-area: img;
			width: 100%;
		}


		span {
			grid-area: span;
		}
	}

	#btn-edit, #btn-profile {
		position: fixed;
		top: 3vw;
		right: 3vw;
	}

	#btn-store {
		position: fixed;
		bottom: 3vw;
		right: 3vw;
	}
</style>