<template>
    <div class="templates row">
        <div class="col-12">
            <h2 class="center-align">Создание из шаблона</h2>
        </div>
        <div v-if="itemsTemplates.length == 0">
            <div class="col-12 center-align">
                Нет шаблонов. <router-link to="/admin">К списку опросов</router-link>
            </div>
        </div>
        <template v-else>
            <div class="col s6" v-for="item in itemsTemplates" @click="create(item)">
                <div class="card">
                    <div class="card-content">
                        <span class="title">{{item.dateCreate}}</span>
                        <tree-chart :json="item.tree | toObj" small/>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import TreeChart from '../components/MyTreeChart'
    import CoreMixins from '../core-mixins'


    export default {
        mixins: [CoreMixins],
        computed: {
            ...mapState(['itemsTemplates'])
        },
        data: () => ({}),
        components: {
            TreeChart
        },
        async created() {
            if (!this.$store.state.Auth.isAuth) this.$router.push('/Auth');
            this.TestPermiss('template-load')
            let toast = M.toast({html: "Загрузка"})
            await this.$store.dispatch('load-list-templates');
            toast.dismiss();
        },
        methods: {
            async create(item) {
                this.TestPermiss('template-create')
                let id = await this.$store.dispatch('create-by-template', item)
                this.$router.push(`/admin/${id}/${id}`)
            },
        },
        filters: {
            toObj(json) {
                return JSON.parse(json)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .title {
        font-size: 120%;
    }

    .card {
        transition: all .3s;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .card-content {
            max-height: 500px;
            overflow: hidden;
        }
    }
</style>