<template>
    <div class="beckaps row">
        <div class="col s10 offset-s1 m10 offset-m1 l6 offset-l3">
            <ul class="collection with-header">
                <li class="collection-header"><h5>Создать</h5></li>
                <router-link
                        class="collection-item" to="/admin/templates?action=create"
                        v-if="Permiss['opros-create']"
                >Создать из шаблона
                </router-link>
                <a class="collection-item" @click="create" v-if="Permiss['opros-create']">Создать пустую заготовку</a>
                <a class="collection-item" @click="Logout">Выйти из системы</a>
            </ul>

            <vue-nestable
                    v-model="ItemsBySort"
                    :max-depth="1"
                    class="collection"
                    @input="updateSort"
            >
                <router-link slot-scope="{ item }"  :to="`/admin/${item.id}`" class="collection-item avatar">
                    <span class="title" v-html="item.name" />
                    <p v-html="item.desc"/>

                    <vue-nestable-handle :item="item">
                        <div class="secondary-content" @click.stop.prevent>
                            <i class="material-icons">drag_handle</i>
                        </div>
                    </vue-nestable-handle>
                </router-link>
            </vue-nestable>

            <ul class="collection with-header" v-if="false">
                <li class="collection-header"><h5>Калькулятор</h5></li>
                <router-link class="collection-item" :to="`/admin/calc/${item.id}`" v-for="item in itemsCalc">Калькулятор #{{item.id}}</router-link>
                <a class="collection-item" title="Функционал не реализован">Добавить</a>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header"><h5>Прочее</h5></li>
                <router-link class="collection-item" to="admin/props">Настройки</router-link>
            </ul>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'
    import CoreMixin from '../core-mixins'
    export default {
        mixins: [CoreMixin],
        computed: {
            ...mapState(['itemsRoot']),
            ...mapState('Calc', {itemsCalc: 'items'}),
        },
        data: () => ({
            ItemsBySort: []
        }),
        created() {
            if (!this.isAuth) this.$router.push('/Auth');
        },
        async mounted() {
            this.TestPermiss('opros-load')
            let toast = M.toast({html: "Загрузка"})
            await this.$store.dispatch('load-list-opros');
            await this.$nextTick();
            this.$set(this, 'ItemsBySort', this.itemsRoot);
            toast.dismiss();
            toast = M.toast({html: "Загрузка калькуляторов"})
            await this.$store.dispatch('Calc/load');
            toast.dismiss();
        },
        methods: {
            ...mapActions(['updateSort']),
            async create() {
                let id = await this.$store.dispatch('create')
                this.$router.push(`/admin/${id}/${id}`)
            },
        }
    }
</script>

<style lang="scss">
    .nestable-item {
        list-style: none;
    }

    .collection {
        ol {
            padding: 0px;
            a {
                padding-left: 30px !important;
            }
        }
    }

</style>

<style lang="scss" scoped>
    .title {
        //font-size: 120%;
    }

</style>