<template>
    <Page class="page">
        <ActionBar title="Прохождение опроса" class="action-bar"/>
        <ScrollView class="scrollview">
            <ActivityIndicator v-if="isLoading" :busy="isLoading" class="activity-indicator" />
            <FlexboxLayout flexDirection="column" v-else>
                <StackLayout orientation="horizontal" v-if="item" class="current-item">
                    <Image v-if="item.img" :src="item.img" class="thumb"/>
                    <StackLayout orientation="vertical">
                        <HtmlView :html="item.name" class="h2"/>
                        <HtmlView :html="item.desc" class="desc"/>
                    </StackLayout>
                </StackLayout>
                <stack-layout orientation="horizontal" class="list-item" v-for="item in childrens">
                    <image v-if="item.img" :src="item.img" width="30%"  @tap="onItemTap(item)" />
                    <html-view :html="item.name" @tap="onItemTap(item)" />
                </stack-layout>
            </FlexboxLayout>
        </ScrollView>
    </Page>
</template>

<script>
    import Vue from "nativescript-vue";

    export default {
        methods: {
            onItemTap: function (item) {
                console.log(`onItemTap ${item.id}, go to ${item.to || item.id}`)
                if (item.to) {
                    this.id = item.to;
                    this.items.splice(0);
                    console.log(`items length: ${this.items.length}`)
                    this.load();
                } else {
                    this.id = item.id;
                }
            },
            toParent() {
                this.id = this.item.idParent;
            },
            load() {
                console.log(`Load #${this.id}`);
                this.isLoading = true;
                fetch(
                    `http://opros-server.j693917.myjino.ru/opros/index/${this.id}`
                )
                    .then(res => res.json())
                    .then(items => {
                        console.log(`success load ${this.id}`)
                        for (let item of items) {
                            this.items.push(item);
                        }
                        //console.log(items)
                        this.isLoading = false;
                    });
            }
        },
        created() {
            console.warn('Application create');
            this.load();
        },
        data() {
            return {
                items: [],
                id: "first",
                isLoading: true,
            };
        },
        computed: {
            item() {
                if (this.id == "first" && this.items.length) {
                    this.id = this.items.find(item => item.idParent == null).id;
                }

                return this.items.find(item => item.id == this.id);
                return {
                    name: "",
                    img: "",
                    idParent: false
                };
            },
            childrens() {
                let items = this.items.filter(item => item && item.idParent == this.id);
                if (this.item && this.item.idParent)
                    items.push({
                        name: "Возврат",
                        id: this.item.idParent
                    });
                return items;
            }
        }
    };
</script>

<style scoped lang="scss">
    .page {
        font-size: 20px;
    }

    .list-item {
        width: 100%;
        background-color: rgba(0,0,0, 0.1);
        padding: 10px;
        margin-bottom: 10px;
        
        HtmlView {
            width: 100%;
        }
    }

    .current-item {
        margin: 10px;
        font-size: 20px;

        .thumb {
            margin-right: 15px;
            min-width: 100px;
            max-width: 100px;
            width: 100px;
        }

        .h2 {
            font-size: 20px;
        }
        .desc {  }
    }

</style>