<template>
    <div>
        {{persmiss}}
    </div>
</template>

<script>
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'
    export default {
        name: "RolesCompare",
        computed: {
            persmiss() {
                return this.$store.Permiss.state;
            }
        }
    }
</script>

<style scoped>

</style>