<template>
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="card">
				<div class="card-content">
					<div class="input-field">
						<input id="login" type="text" :class="[Login.length ? Login.length > 4 ? 'valid' : 'invalid' : '']" v-model="Login" @keyup.enter="$refs.FIO.focus()"
							   required/>
						<label for="login">Login *</label>
						<span class="helper-text" v-if="Login.length && Login.length < 5" data-error="Поле Login обязательно для заполнения, минимально 6 символов"></span>
					</div>
					<div class="input-field">
						<input id="FIO" type="text" v-model="FIO" ref="FIO" @keyup.enter="$refs.Email.focus()"/>
						<label for="FIO">ФИО </label>
					</div>
					<div class="input-field">
						<input id="Email" type="email" class="validate" v-model="Email" ref="Email"
							   @keyup.enter="$refs.Pass.focus()" required/>
						<label for="Email">Email *</label>
						<span class="helper-text" data-error="Пожалуйста, укажите e-mail в правильном формате"></span>
					</div>
					<div class="input-field">
						<input id="Password" type="password"  :class="[Pass.length ? Pass.length > 6 ? 'valid' : 'invalid' : '']" v-model="Pass"
							   @keyup.enter="$refs.Pass2.focus()"
							   ref="Pass" required/>
						<label for="Password">Пароль *</label>
						<span class="helper-text" v-if="Pass.length && Pass.length < 7" data-error="Поле Пароль обязательно для заполнения, минимально 7 символов"></span>
					</div>
					<div class="input-field">
						<input id="Password2" type="password" class=" "  :class="[Pass2.length ? Pass2 == Pass ? 'valid' : 'invalid' : '']"
							   v-model="Pass2" @keyup.enter="SignIn" ref="Pass2"/>
						<label for="Password2">Повторно пароль *</label>
						<span class="helper-text" v-if="Pass != Pass2" data-error="Не совпадает пароль"></span>
					</div>
					<button @click="SignIn">Регистрация</button>
				</div>
			</div>
		</div>
		<div>
			<div id="btn-back" class="" @click="back">Назад</div>
			<router-link id="btn-sign-in" class="" to="/Auth">Авторизация</router-link>
		</div>
	</div>
</template>

<script>
    import CoreMixin from '../core-mixins'

    export default {
        mixins: [CoreMixin],
        name: "SignIn",
        data: () => ({
            FIO: '',
            Email: '',
            Login: '',
            Pass: '',
            Pass2: '',
            from: '/Admin',
			isComparePass: true,
        }),
        watch: {
            '$route'(to, from) {
                this.from = from;
            },
            async Pass2() {
                await this.$nextTick();
                await this.$nextTick();
                this.isComparePass = this.Pass == this.Pass2
            }
        },
        methods: {
            async SignIn() {
                await this.SignInMethod(this)
                if (this.isAuth) {
                    if (this.isAdmin) this.$router.push('/Admin');
                    else this.$router.push('/user-area');
                } else {
                    M.toast({html: this.$store.state.Auth.Response.message || "Ошибка"});
                }
            },
			back() {
				this.$router.go(-1)
			}
        }
    }
</script>

<style scoped lang="scss">
	@import '../../node_modules/materialize-css/sass/materialize.scss';

	#btn-back {
		@extend .btn;
		position: fixed;
		top: 20px;
		left: 20px;
	}

	#btn-sign-in {
		@extend .btn;
		position: fixed;
		top: 20px;
		right: 20px;
	}

	button {
		@extend .btn;
		margin-top: 10px;
	}

	.card {
		margin-top: 10vh;
	}

	.card-content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.input-field {
			width: 100%;
		}
	}
</style>