<template>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<h5 class="card-title" v-html="item.name"/>
						<div v-html="item.desc" />
						<calc
							v-if="item"
							:consts="item.consts" :services="item.services" :formula="item.formula"
							:values="{ServicesValues: item.ServicesValues, ConstsValues: item.ConstsValues}"
							btn-cancel="Назад"
							@cancel="onCancel"
							btn-title="Сохранить"
							@appendToCard="Update"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    import StoreValuesMixin from '../store-values-mixins';
    import Calc from "../components/Calc";

    export default {
        name: "StoreCalcEdit",
        mixins: [StoreValuesMixin],
        components: {Calc},
        computed: {
            index() {
                return Number(this.$route.params.index)
            }
        },
        created() {
            try {
                this.items = this.getStoreValues()
                this.item = this.items[this.index]
            } catch (e) {
				M.toast({html: 'Ошибка получения данных'})
            }
        },
        data: () => ({
            item: {},
			items: []
        }),
		methods: {
            Update({ServicesValues, ConstsValues}) {
				this.item.ServicesValues = ServicesValues;
				this.item.ConstsValues = ConstsValues;
                this.items[this.index] = this.item;
                this.saveStoreValues(this.items);
                this.$router.push('/store')
			},
            onCancel() {
				this.$router.back();
			}
		}
    }
</script>

<style scoped>

</style>