<template>
	<div class="container">
		<div class="card">
			<div class="card-content">
				<router-link class="btn"  to="/Auth?url=/store" v-if="!isAuth">Авторизация</router-link>
				<button v-else class="btn" @click="saveForUser" :disabled="isProcessSave">{{isProcessSave ? 'Сохраняю' : 'Сохранить'}}</button>
				<button class="right waves-effect waves-teal btn-flat" @click="clear">Очистить</button>
				<div v-for="(item, index) in items">
					<h5 class="calc-title">
						<router-link :to="`/store/edit/${index}`">{{item.name | toText}}</router-link>
						<i class="material-icons btn-close" @click="removeItem(index)">close</i></h5>
					<calc-result
						:services="item.services"
						:consts="item.consts"
						:formula="item.formula"
						:services-values="item.ServicesValues"
						:consts-values="item.ConstsValues"
						ref="calc"
					/>
				</div>
				<div v-if="!items.length">
					<div class="card-title">Нет данных.</div>
				</div>
				<div v-else>
					<h5>Итого {{countPrice | toRub}} руб</h5>
				</div>
				<br/>
				<button v-if="canBack" class="btn" @click="goBack">Назад</button>
				<router-link class="btn" to="/" v-else>В начало</router-link>
				<button class="btn right" @click="printPDF">PDF</button>
			</div>
		</div>
	</div>
</template>

<script>
    import CoreMixins from '../core-mixins';
    import StoreValuesMixin from '../store-values-mixins';
    import CalcResult from "../components/CalcResult";

    export default {
        components: {CalcResult},
        mixins: [StoreValuesMixin, CoreMixins],
        name: "Store",
        data: () => ({
            items: [],
            countPrice: 0,
			isProcessSave: false,
        }),
        created() {
            this.items = this.getStoreValues()
        },
        async mounted() {
            await this.$nextTick();
            this.calcCountPrice();
        },
        computed: {
            canBack() {
                try {
                    return localStorage.CurrentPage
                } catch (e) {
                    return false;
                }
            },
        },
        methods: {
            async saveForUser() {
                this.isProcessSave = true;
                try {
                    let id = await this.$store.dispatch('UserCalcs/create', {
                        idUser: this.$store.state.Auth.idUser,
                        Value: JSON.stringify(this.items)
                    })
                    M.toast({html: id ? 'Сохранил' : 'Ошибка сохранения'})
                } catch (e) {
                    M.toast({html: 'Ошибка сохранения'})
                }
                this.isProcessSave = false;
			},
            calcCountPrice() {
                if (!this.$refs.calc) return;
                let result = 0;
                for (let item of this.$refs.calc) {
                    result += item.result
                }
                this.countPrice = result;
            },
            removeItem(index) {
                try {
                    M.toast({html: 'Удаление'})
                    this.removeStoreValue(index);
                    this.items = this.getStoreValues();
                } catch (e) {
                    M.toast({html: 'Ошибка удаления'});
                }
            },
            clear() {
                try {
                    M.toast({html: 'Удаление'})
                    for (let index in this.items.length)
                        this.removeStoreValue(index);
                    this.items = this.getStoreValues();
                } catch (e) {
                    M.toast({html: 'Ошибка удаления'});
                }
            },
            goBack() {
                location.href = localStorage.CurrentPage
            },
            printPDF() {
                let items = []
                let index = 0;
                let div = document.createElement('div');
                for (let item of this.items) {
                    div.innerHTML = item.name;
                    items.push({text: div.innerText, style: 'h2'});
                    div.innerHTML = item.desc;
                    items.push({text: div.innerText || '', style: 'div'});
                    items.push({text: this.$refs.calc[index].$refs.result.innerText, style: 'formula'});
                    index++;
                }

                var docDefinition = {
                    content: [
                        {text: 'Вычисления', style: 'h1'},
                        items,
                        {text: `Итого: ${this.countPrice} руб`, style: 'h2'}
                    ],
                    styles: {
                        h1: {fontSize: 22},
                        h2: {fontSize: 18, margin: [0, 20, 0, 0]},
                        div: {fontSize: 12},
                        formula: {fontSize: 12, fontStyle: 'italic', margin: [0, 20, 0, 0]},
                    }
                };
                pdfMake.createPdf(docDefinition).download('opros-calc.pdf');

            },
        },
        filters: {
            toText(stringHtml) {
                let div = document.createElement('div')
                div.innerHTML = stringHtml;
                return div.innerText
            }
        }
    }
</script>

<style scoped lang="scss">
	.calc-title {
		a {
			display: inline-block;
			width: calc(100% - 3rem);
			color: black;
			text-decoration: underline;
		}

		.btn-close {
			cursor: pointer;
			position: relative;
			top: 5px;
		}
	}
</style>