<template>
	<div class="row">
		<div class="col s12 m10 offset-m1 l6 offset-l3">
			<div class="card">
				<div class="card-content">
					<h5>Профиль {{$store.state.Auth.Login}}</h5>
					<button class="btn" @click="Logout">Выйти</button>
				</div>
			</div>
			<div class="card" v-for="calc in calcs">
				<div class="card-content">
					<template v-for="(item, index) in calc.Value">
						<h5 class="calc-title">
							<div>{{item.name | toText}}</div>
						</h5>
						<calc-result
							:services="item.services"
							:consts="item.consts"
							:formula="item.formula"
							:services-values="item.ServicesValues"
							:consts-values="item.ConstsValues"
							ref="calc"
						/>
					</template>
					<div>
						<br>
						<p>Создан: {{calc.dateCreate}}</p>
						<p>Изменен: {{calc.dateUpdate}}</p>
						<router-link v-if="false" to="/" class="btn">Изменить</router-link>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    import CoreMixin from '../core-mixins';
    import {mapMutations, mapGetters, mapState, mapActions} from 'vuex'
    import CalcResult from "../components/CalcResult";

    export default {
        name: "UserArea",
        mixins: [CoreMixin],
        components: {CalcResult},
        computed: {
            ...mapState('UserCalcs', ['items']),
            calcs() {
                return this.items.map(item => ({...item, Value: JSON.parse(item.Value)}))
            }
        },
        async created() {
            await this.$store.dispatch('UserCalcs/load')
        },
        filters: {
            toText(stringHtml) {
                let div = document.createElement('div')
                div.innerHTML = stringHtml;
                return div.innerText
            }
        }
    }
</script>

<style scoped lang="scss">
	a {
		margin-top: 10px;
	}
</style>