<template>
    <div class="container">
        <div class="row" v-if="item" id="my-video">
            <div class="col s12">
                <div class="card">
                    <div class="">
                        <img :src="item.img" width="100%" v-if="!video" />
                        <img :src="item.img" width="100%" v-if="video && isLoading" />
                        <video autobuffer ref="videoBig"
                               :poster="item.img"
                               :src="video" v-if="video"
                               :controls="false"
                        />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title" v-html="item.name"/>
                            <div v-for="item  in log" v-text="item" :key="`item-${item}`" />
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p v-html="item.desc"/>
                    </div>
                    <div class="collection" v-if="children">
                        <template v-for="(item, index) in children">
                            <router-link
                                    class="collection-item" :key="`item-${index}`"
                                    :to="`/${item.idRoot}/${hasValue(item.to) ? item.to : item.id}`"
                            >
                                <span>
                                    <img :src="item.img" v-show="item.img"/>
                                </span>
                                <span v-html="item.name"/>
                            </router-link>
                        </template>
                        <router-link
                                v-if="item && item.idParent"
                                class="collection-item"
                                :to="`/${item.idRoot}/${item.idParent}`"
                        >
                            <img/>
                            <span>Возврат</span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // @ is an alias to /src
    export default {
        name: 'ViewMobile',
        async created() {
            console.error = this.logErrors
            console.log = this.logErrors
            try {
                //let toast = M.toast({html: "Загрузка"})
                console.log('load')
                await this.$store.dispatch('load', this.idRoot)
                console.log('load end')
                //toast.dismiss();
                BrowserDetect.init();
                //if (BrowserDetect.browser == 'Safari') this.isShowNav = true
            } catch(err) {
                console.log({err})
            }
        },
        async mounted() {
        },
        watch: {
            '$route'() {
                if (!this.$store.state.items.find(item => item.id == this.id)) {
                    //let toast = M.toast({html: "Загрузка"})
                    this.$store.dispatch('load', this.id)
                    //toast.dismiss();
                }
                this.isShowVideo = false;
                this.isPlayVideo = false;
            },
            async video() {
                try {
                    await this.$nextTick()
                    if (this.video) {
                        console.log({video: this.video, href: document.getElementById('my-video')})
                        var vm = this;
                        setTimeout(function() {
                            document.getElementById('my-video').onclick = vm.showVideo;
                            document.getElementById('my-video').ontouchstart= vm.showVideo;
                        }, 1000)
                    }
                } catch(err) {
                    console.log({err})
                }
            }
        },
        computed: {
            id() {
                return this.$route.params.id
            },
            idRoot() {
                return this.$route.params.idRoot || 'first'
            },
            isShowBigVideo() {
                return this.item.VideoBig && !this.item.VideoSmall
            },
            isShowSmallVideo() {
                return this.item.VideoSmall
            },
            video() {
                if (!this.item) return false
                if (this.item.VideoBig) return this.item.VideoBig
                return this.item.VideoSmall
                return false
            },
            items() {
                return this.$store.state.items;
            },
            item() {
                console.log('item')
                var item = {};
                if (this.current)
                    item = this.$store.state.items.find(item => item.id == this.current);
                else
                    item = this.$store.state.items.find(item => item.idParent == null);
                return item;
            },
            children() {
                return this.$store.state.items
                    .filter(item => item.idParent == this.item.id)
                    .sort( (item1, item2) => Number(item1.sort) >= Number(item2.sort) ? 1 : -1 );
            },
            current() {
                let id = this.id;
                return (id == 'null' || !id) ? false : id;
            },
            isShowPrev() {
                return this.hasValue(this.item.img) && !this.isShowBigVideo && !this.isShowSmallVideo;
            }
        },
        components: {},
        data: () => ({
            isShowNav: false,
            isShowVideo: true,
            isPlayVideo: false,
            log: ['log2'],
            isLoading: false,
        }),
        methods: {
            hasValue(value) {
                //console.log(value)
                if (value === '' || value === null || value === '0') return false;
                return value
            },
            logErrors(err) {
                this.log.unshift(err)
            },
            showVideo(e) {
                console.log('tap')
                try {
                    e.target.play();
                    this.isShowVideo = true;
                    this.$nextTick(function () {
                        console.log('start')
                        this.$nextTick(function () {
                            e.target.play();
                            var vm = this;
                            this.$refs.videoBig.onended = function () {
                                vm.isShowVideo = false;
                                e.target.load();
                                vm.isLoading = false
                                console.log('end')
                            }
                            setInterval(() => {
                                if (vm.isShowVideo)
                                    vm.isLoading = !vm.$refs.videoBig.played.length
                            }, 10);
                        });
                    })
                } catch (err) {
                    this.log.push(JSON.stringify(err))
                }
            },
            play(e) {
                try {
                    e.target.play()
                } catch (e) {
                    //let toast = M.toast({html: "Ошибка воспроизведения"})
                    alert("Ошибка воспроизведения")
                }
            }
        }
    }

var BrowserDetect = { 
  init: function () { 
  this.browser = this.searchString(this.dataBrowser) || "An unknown browser"; 
  this.version = this.searchVersion(navigator.userAgent) || this.searchVersion(navigator.appVersion) || "an unknown version"; 
  this.OS = this.searchString(this.dataOS) || "an unknown OS"; 
  }, 
  searchString: function (data) { 
  for (var i=0;i<data.length;i++) { 
  var dataString = data[i].string; 
  var dataProp = data[i].prop; 
  this.versionSearchString = data[i].versionSearch || data[i].identity; 
  if (dataString) { 
  if (dataString.indexOf(data[i].subString) != -1) 
  return data[i].identity; 
  } 
  else if (dataProp) 
  return data[i].identity; 
  } 
  }, 
  searchVersion: function (dataString) { 
  var index = dataString.indexOf(this.versionSearchString); 
  if (index == -1) return; 
  return parseFloat(dataString.substring(index+this.versionSearchString.length+1)); 
  }, 
  dataBrowser: [ 
  { 
  string: navigator.userAgent, 
  subString: "Chrome", 
  identity: "Chrome" 
  }, 
  { string: navigator.userAgent, 
  subString: "OmniWeb", 
  versionSearch: "OmniWeb/", 
  identity: "OmniWeb" 
  }, 
  { 
  string: navigator.vendor, 
  subString: "Apple", 
  identity: "Safari", 
  versionSearch: "Version" 
  }, 
  { 
  prop: window.opera, 
  identity: "Opera", 
  versionSearch: "Version" 
  }, 
  { 
  string: navigator.vendor, 
  subString: "iCab", 
  identity: "iCab" 
  }, 
  { 
  string: navigator.vendor, 
  subString: "KDE", 
  identity: "Konqueror" 
  }, 
  { 
  string: navigator.userAgent, 
  subString: "Firefox", 
  identity: "Firefox" 
  }, 
  { 
  string: navigator.vendor, 
  subString: "Camino", 
  identity: "Camino" 
  }, 
  {  
  /* For Newer Netscapes (6+) */ 
  string: navigator.userAgent, 
  subString: "Netscape", 
  identity: "Netscape" 
  }, 
  { 
  string: navigator.userAgent, 
  subString: "MSIE", 
  identity: "Internet Explorer", 
  versionSearch: "MSIE" 
  }, 
  { 
  string: navigator.userAgent, 
  subString: "Gecko", 
  identity: "Mozilla", 
  versionSearch: "rv" 
  }, 
  {  
  /* For Older Netscapes (4-) */ 
  string: navigator.userAgent, 
  subString: "Mozilla", 
  identity: "Netscape", 
  versionSearch: "Mozilla" 
  } 
  ], 
  dataOS : [ 
  { 
  string: navigator.platform, 
  subString: "Win", 
  identity: "Windows" 
  }, 
  { 
  string: navigator.platform, 
  subString: "Mac", 
  identity: "Mac" 
  }, 
  { 
  string: navigator.userAgent, 
  subString: "iPhone", 
  identity: "iPhone/iPod" 
  }, 
  { 
  string: navigator.platform, 
  subString: "Linux", 
  identity: "Linux" 
  } 
  ] 

}; 

</script>

<style lang="scss" scoped>
    .isLoading {
        opacity: 0;
        position: absolute;
    }

    .card-image {
        min-width: 300px;
    }

    .card-image img {
        width: 100%;
    }

    .collection a.collection-item:not(.active):hover {
        background-color: transparent;
    }

    video {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center center;
    }


    .collection a {
        display: flex;
        flex-direction: column;
        //align-items: center;
        justify-content: start;

        img {
            grid-area: img;
            width: 100%;
            margin-bottom: 5px;
        }
        span {
        }

        //margin-bottom: 40px;
    }

    #btn-edit {
        position: fixed;
        bottom: 3vw;
        right: 3vw;
    }

    #btn-play {
        position: relative;
        top: calc(-50% + 16px);
        left: calc(50% - 16px);
    }
</style>