<template>
	<div class="calc">
		<h5>Калькулятор:</h5>
		<div v-for="(item, index) in services">
			<label>
				<input type="checkbox" v-model="ServicesValues[item.key]" @change="CalcFormula"/>
				<span>{{item.name}} {{item.price}} руб</span>
			</label>
		</div>
		<div class="row">
			<div class="input-field col s6" v-for="(item, key) in ConstsValues" v-if="ConstByKey(key).is_edit">
				<input placeholder="Placeholder" :id="key" type="text" v-model="ConstsValues[key]"
					   @change="CalcFormula">
				<label :for="key">{{ConstByKey(key).name}}</label>
			</div>
		</div>
		<h5>Итого: </h5>
		<span class="result" ref="result">
			<template v-for="(item, key) in formula">
				<span v-if="item.type == 'service'" :class="{'is-no-select': !ServicesValues[item.key]}">
					{{ServiceByKey(item.key).name}} {{ServiceByKey(item.key).price | toRub}} руб
				</span>
				<span v-if="item.type == 'const'">
					{{ConstByKey(item.key).name}} {{ConstsValues[item.key]}}
				</span>
				<span v-if="item.type == 'operand'">
					{{item.name}}
				</span>
			</template>
                         = {{result | toRub}} руб</span>
		<div class="btn-container">
			<button v-if="BtnCancel" class="btn" @click="$emit('cancel')">{{BtnCancel}}</button>
			<button class="btn" @click="appendToCard">{{BtnTitle}}</button>
		</div>
	</div>
</template>

<script>
    import StoreValuesMixin from '../store-values-mixins';

    export default {
        mixins: [StoreValuesMixin],
        name: "Calc",
        props: {
            consts: {type: Array, default: () => ([])},
            services: {type: Array, default: () => ([])},
            formula: {type: Array, default: () => ([])},
            values: {type: [Object, Boolean], default: false},
            BtnTitle: {type: String, default: 'ДОБАВИТЬ В ПОДСЧЕТ'},
            BtnCancel: {type: [String, Boolean], default: false}
        },
        data: () => ({
            ServicesValues: {},
            ConstsValues: {},
            result: 0,
        }),
        watch: {
            formula() {
                console.log('watch formula')
                this.$set(this, 'ServicesValues', {});
                this.$set(this, 'ConstsValues', {});
                for (let item of this.services) this.$set(this.ServicesValues, item.key, true);
                for (let item of this.consts) this.$set(this.ConstsValues, item.key, item.default);
                this.CalcFormula()
            }
        },
        created() {
            if (this.values && this.values.ServicesValues) this.$set(this, 'ServicesValues', this.values.ServicesValues);
            if (this.values && this.values.ConstsValues) this.$set(this, 'ConstsValues', this.values.ConstsValues);

            for (let item of this.services) if (this.ServicesValues[item.key] == undefined) this.$set(this.ServicesValues, item.key, true);
            for (let item of this.consts) if (this.ConstsValues[item.key] == undefined) this.$set(this.ConstsValues, item.key, item.default);
            this.CalcFormula();
        },
        async mounted() {
            console.log('mounted')
            await this.$nextTick();
            M.updateTextFields();
        },
        async updated() {
            console.log('updated')
            await this.$nextTick();
            M.updateTextFields();
        },
        methods: {
            ServiceByKey(key) {
                return this.services.find(item => item.key == key)
            },
            ConstByKey(key) {
                return this.consts.find(item => item.key == key)
            },
            CalcFormula() {
                if (this.formula && !this.formula.length) return;

				for (let index in this.ConstsValues) {
				    if (this.ConstsValues[index] < 0) {
                        this.ConstsValues[index] = 0;
                        M.toast({html: 'Пожалуйста, введите положительное значение'})
                        return;
					}
				}

                try {
                    let result = [];
                    for (let item of this.formula) {
                        if (item.type == 'service') {
                            if (this.ServicesValues[item.key]) result.push(`Number(${this.ServiceByKey(item.key).price})`)
                            else result.push(`Number(0)`)
                        }
                        if (item.type == 'const') {
                            result.push(`Number(${this.ConstsValues[item.key]})`)
                        }
                        if (item.type == 'operand') {
                            result.push(item.key)
                        }
                    }
                    eval('result = ' + result.join(' '))
                    this.result = result
                } catch (e) {
                    M.toast({html: 'Ошибка вычисления формулы'})
                }
            },
            appendToCard() {
                this.$emit('appendToCard', {...this.$data})
            },
        },
        filters: {
            toRub(num) {
                var formatter = new Intl.NumberFormat('ru-RUS', {
                    currency: 'RUB',
                });
                return formatter.format(Number(num));
            }
        },
    }
</script>

<style scoped lang="scss">
	.calc {
		& > * {
			margin-bottom: 15px;
		}

		.is-no-select {
			text-decoration: line-through;
		}

		.result {
			font-size: 120%;
			display: block;
		}
	}

	.btn-container {
		display: flex;
		justify-content: space-between;
	}
</style>