<template>
		<span class="result" ref="result">
			<template v-for="(item, key) in formula">
				<span v-if="item.type == 'service'" :class="{'is-no-select': !ServicesValues[item.key]}">
					{{ServiceByKey(item.key).name}} {{ServiceByKey(item.key).price | toRub}} руб
				</span>
				<span v-if="item.type == 'const'"> {{ConstByKey(item.key).name}} {{ConstsValues[item.key]}} </span>
				<span v-if="item.type == 'operand'"> {{item.name}} </span>
			</template>
			 = {{result | toRub}} руб
		</span>
</template>

<script>
    export default {
        name: "CalcResult",
        props: {
            consts: {type: Array, default: () => ([])},
            services: {type: Array, default: () => ([])},
            formula: {type: Array, default: () => ([])},
            ServicesValues: {type: Object, default: () => ({})},
            ConstsValues: {type: Object, default: () => ({})},
        },
		computed: {
            result() {
                let result = [];
                for (let item of this.formula) {
                    if (item.type == 'service') {
                        if (this.ServicesValues[item.key]) result.push(`Number(${this.ServiceByKey(item.key).price})`)
                        else result.push(`Number(0)`)
                    }
                    if (item.type == 'const') {
                        result.push(`Number(${this.ConstsValues[item.key]})`)
                    }
                    if (item.type == 'operand') {
                        result.push(item.key)
                    }
                }
                eval('result = ' + result.join(' '))
                return result;
			}
		},
        methods: {
            ServiceByKey(key) {
                return this.services.find(item => item.key == key)
            },
            ConstByKey(key) {
                return this.consts.find(item => item.key == key)
            },
        },
        filters: {
            toRub(num) {
                var formatter = new Intl.NumberFormat('ru-RUS', {
                    currency: 'RUB',
                });
                return formatter.format(Number(num));
            }
        },
    }
</script>

<style scoped>
	.is-no-select {
		text-decoration: line-through;
	}

</style>