<template>
    <div class="edit" v-click-outside="hide">
        <div class="form">
            <button class="btn red right" @click="Remove">Удалить</button>
            <br>
            <br>
            <div class="input-field">
                <select @change="e => Change('to', e.target.value)" :disabled="!Permiss['node-change']">
                    <option :selected="current.to == null" value="null">Нет</option>
                    <option v-for="item in itemsRoot" :value="item.id" :selected="current.to == item.id"><span
                            v-html="item.name"/>
                    </option>
                </select>
                <label>Переход</label>
            </div>
            <label for="title">Заголовок</label>
            <textarea v-if="false" id="title" class="materialize-textarea" ref="name" :value="current.name"
                      @change="e => Change('name', e.target.value)" :disabled="!Permiss['node-change']"/>
            <ckeditor id="title" :editor="editor" :value="current.name"
                      @input="e => Change('name', e)" :config="editorConfig" ref="name"></ckeditor>

            <label for="desc">Описание</label>
            <ckeditor id="desc" :editor="editor" :value="current.desc"
                      @input="e => Change('desc', e)" :config="editorConfig" ref="desc"></ckeditor>

            <br>
            <template v-if="current.img">
                <img class="demo" :src="current.img" @click="$refs.file.click()" :disabled="!Permiss['node-change']"/>
                <button @click="Change('img', null)" class="btn" :disabled="!Permiss['node-change']">Удалить
                    изображеие
                </button>
            </template>
            <button v-else @click="$refs.file.click()" class="btn" :disabled="!Permiss['node-change']">Загрузить
                изображеие
            </button>

            <input v-show="false" type="file" ref="file" name="userfile" @change="UploadImg"
                   :disabled="!Permiss['node-change']"/>

            <template v-if="current.VideoSmall">
                <p>Видео для телефона</p>
                <video :src="current.VideoSmall" controls :disabled="!Permiss['node-change']"/>
                <button class="btn" @click="RemoveVideoSmall" :disabled="!Permiss['node-change']">Удалить видео для
                    телефона
                </button>
            </template>
            <input v-show="false" type="file" ref="fileVideoSmall" @change="UploadVideoSmall"
                   :disabled="!Permiss['node-change']"/>
            <button class="btn" @click="$refs.fileVideoSmall.click()" :disabled="!Permiss['node-change']">Загрузить
                видео для телефона
            </button>

            <template v-if="current.VideoBig">
                <p>Видео</p>
                <video :src="current.VideoBig" controls :disabled="!Permiss['node-change']"/>
                <button class="btn" @click="RemoveVideoBig" :disabled="!Permiss['node-change']">Удалить видео</button>
            </template>
            <input v-show="false" type="file" ref="fileVideoBig" @change="UploadVideoBig"
                   :disabled="!Permiss['node-change']"/>
            <button class="btn" @click="$refs.fileVideoBig.click()" :disabled="!Permiss['node-change']">Загрузить
                видео
            </button>

        </div>
        <div>
            <br>
            <button class="btn" @click="Remember" :disabled="!Permiss['node-change']">Копировать</button>
            <button class="btn" @click="InsertRemember" :disabled="!Permiss['node-change']">Вставить</button>
            <br>
            <p v-if="childrenBySort">Сортировка потомков</p>

            <draggable v-model="childrenBySort" class="collection" @input="sortChildrens">
                <div class="collection-item" v-for="item in childrenBySort" :key="item.id" v-html="item.name" />
            </draggable>
            <router-link :to="`/admin/${current.idRoot}?action=create&idParent=${current.id}`"
                         class="иет" :disabled="!Permiss['node-change']">
                Добавить нового
            </router-link>
        </div>
    </div>

</template>

<script>
    import clickOutside from '../clickOutside';
    import {mapState} from "vuex"
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import CoreMixin from '../core-mixins'
    import draggable from 'vuedraggable'

    export default {
        mixins: [CoreMixin],
        name: "FormEdit",
        directives: {clickOutside},
        props: {
            current: {type: Object, default: () => ({id: null})}
        },
        data: () => ({
            editor: ClassicEditor,
            editorData: '<p>Content of the editor.</p>',
            editorConfig: {
                // The configuration of the editor.
            },
            childrenBySort: [],
        }),
        watch: {
            current() {
                if (this.current.children) this.childrenBySort = [...this.current.children];
            }
        },
        async mounted() {
            await this.$nextTick();
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
            this.childrenBySort = [...this.current.children];
        },
        async updated() {
            await this.$nextTick();
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        },
        computed: {
            CurrentPath() {
                return window.location.href
            },
            ...mapState(["itemsRoot", "serverUrl"]),
        },
        created() {
        },
        methods: {
            sortChildrens(items) {
                console.log(items)
                let current = {...this.current};
                for (let i = 0; i < items.length; i++) {
                    items[i].sort = i;
                }
                current.children = [...items];
                this.$emit('change', current);
            },
            Remove() {
                this.TestPermiss('node-remove')
                if (confirm('Удалить элемент?'))
                    this.$router.push(`/admin/${this.current.id}?action=remove`)
            },
            Remember() {
                sessionStorage.Remember = JSON.stringify(this.current)
            },
            InsertRemember() {
                if (!sessionStorage.Remember) return;
                let item = JSON.parse(sessionStorage.Remember);

                function rec(item) {
                    let current = {};
                    for (let key in item) current[key] = item[key]
                    current.id = Math.random();

                    delete current.extend;

                    for (let index in current.children) {
                        current.children[index] = rec(current.children[index])
                    }
                    return {...current};
                }

                item = rec(item);

                this.Change('children', [...this.current.children, item])
            },
            Change(Path, Value) {
                let item = this.current;
                if (Path == 'name' && !Value) Value = 'No name'
                item[Path] = Value;
                //delete item.children;
                //delete item.extend;
                this.$emit('change', item);
            },
            hide() {
                this.$emit('hide');
            },
            async UploadImg() {
                this.TestPermiss('load-image')
                console.log('UploadImg')
                let form = new FormData();
                form.append('userfile', this.$refs.file.files[0]);
                form.append('refer', this.CurrentPath);
                form.append('id', this.current.id);

                let toast = M.toast({html: "Загрузка изображения"})
                await fetch(`${this.serverUrl}/opros/do_upload`, {
                        method: 'POST',
                        body: form,
                    }
                ).then(r => r.text())
                    .then(r => {
                        this.Change('img', r)
                    })
                    .catch(r => {
                        console.log(r)
                    })
                toast.dismiss();
                toast = M.toast({html: "Изображение загружено"})
            },
            async UploadVideoSmall() {
                this.TestPermiss('load-video')
                console.log('UploadVideoSmall')
                let form = new FormData();
                form.append('userfile', this.$refs.fileVideoSmall.files[0]);

                let toast = M.toast({html: "Загрузка видео для телефона"})
                let vm = this;
                await fetch(`${this.serverUrl}/opros/do_upload`, {
                        method: 'POST',
                        body: form,
                    }
                ).then(r => r.text())
                    .then(r => {
                        vm.Change('VideoSmall', r)
                    })
                    .catch(r => {
                        console.log(r)
                    })
                toast.dismiss();
                toast = M.toast({html: "Видео для телефона загружено"})
            },
            RemoveVideoSmall() {
                this.TestPermiss('node-change')
                this.Change('VideoSmall', null);
            },
            async UploadVideoBig() {
                this.TestPermiss('load-video')
                console.log('UploadVideoBig')
                let form = new FormData();
                form.append('userfile', this.$refs.fileVideoBig.files[0]);

                let toast = M.toast({html: "Загрузка видео"})
                let vm = this;
                await fetch(`${this.serverUrl}/opros/do_upload`, {
                        method: 'POST',
                        body: form,
                    }
                ).then(r => r.text())
                    .then(r => {
                        vm.Change('VideoBig', r)
                    })
                    .catch(r => {
                        console.log(r)
                    })
                toast.dismiss();
                toast = M.toast({html: "Видео загружено"})
            },
            RemoveVideoBig() {
                this.TestPermiss('node-change')
                this.Change('VideoBig', null);
            },
        },
        components: {
            draggable
        }
    }


</script>

<style lang="scss">
    .nestable-list .nestable-list {
        display: none;
    }

    .nestable-item {
        max-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .collection-item {
        .text {

            p {
                margin: 0px;
            }
        }
    }

</style>

<style lang="scss" scoped>


    .edit {
        position: fixed;
        right: 0px;
        top: 0px;
        min-width: calc(400px - 2rem);
        width: 20vw;
        height: calc(100vh - 0rem);
        z-index: 100;
        padding: 1rem;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .form {
        padding: 1rem;

        .demo {
            width: 100%;
            cursor: pointer;
        }

        input[type=file] {
            display: none;
        }
    }

    .form input[type=file] {
        display: block;
    }

    video {
        width: 100%;
    }
</style>