<template>
    <div class="FormEditStruct" @click="e => $emit('close', e)" :class="{hide: !isShow}">
        <div class="card" @click.stop>
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs" ref="tabs">
                            <li class="tab col active"><a href="#FuncTextDesc">Тектовое описание</a></li>
                            <li class="tab col"><a href="#FuncFoto">Фото</a></li>
                            <li class="tab col"><a href="#FuncVideo">Видео</a></li>
                            <li class="tab col"><a href="#FuncCalc">Калькулятор</a></li>
                            <li class="tab col"><a href="#FuncChild">Потомки</a></li>
                            <li class="tab col"><a href="#FuncTransition">Переход</a></li>
                            <li class="tab col"><a href="#FuncRemove">Дополнительно</a></li>
                        </ul>
                        <i class="material-icons btn-close" @click="$emit('close')">close</i>
                    </div>
                    <div id="FuncTextDesc" class="col s12">
                        <ckeditor id="title" :editor="editor" :value="current.name"
                                  @input="e => Change('name', e)" :config="editorConfig" ref="name"></ckeditor>

                        <ckeditor id="desc" :editor="editor" :value="current.desc"
                                  @input="e => Change('desc', e)" :config="editorConfig" ref="desc"></ckeditor>

                    </div>
                    <div id="FuncFoto" class="col s12">
                        <template v-if="current.img">
                            <img class="demo" :src="current.img" @click="$refs.file.click()"
                                 :disabled="!Permiss['node-change']"/>
                            <br>
                            <button @click="Change('img', null)" class="btn" :disabled="!Permiss['node-change']">Удалить
                                изображеие
                            </button>
                        </template>
                        <button v-else @click="$refs.file.click()" class="btn" :disabled="!Permiss['node-change']">
                            Загрузить
                            изображеие
                        </button>

                        <input v-show="false" type="file" ref="file" name="userfile" @change="UploadImg"
                               :disabled="!Permiss['node-change']"/>

                    </div>
                    <div id="FuncVideo" class="col s12">
                        <div class="row">
                            <div class="col m6">
                                <h5>Видео</h5>
                                <button class="btn" @click="$refs.fileVideoBig.click()"
                                        :disabled="!Permiss['node-change']">Загрузить
                                    видео
                                </button>
                                <template v-if="current.VideoBig">
                                    <video :src="current.VideoBig" controls :disabled="!Permiss['node-change']"/>
                                    <button class="btn" @click="RemoveVideoBig" :disabled="!Permiss['node-change']">
                                        Удалить видео
                                    </button>
                                </template>
                                <input v-show="false" type="file" ref="fileVideoBig" @change="UploadVideoBig"
                                       :disabled="!Permiss['node-change']"/>
                            </div>

                            <div class="col m6">
                                <h5>Видео для телефона</h5>
                                <button class="btn" @click="$refs.fileVideoSmall.click()"
                                        :disabled="!Permiss['node-change']">Загрузить
                                    видео для телефона
                                </button>
                                <template v-if="current.VideoSmall">
                                    <video :src="current.VideoSmall" controls :disabled="!Permiss['node-change']"/>
                                    <button class="btn" @click="RemoveVideoSmall" :disabled="!Permiss['node-change']">
                                        Удалить видео для телефона
                                    </button>
                                </template>
                                <input v-show="false" type="file" ref="fileVideoSmall" @change="UploadVideoSmall"
                                       :disabled="!Permiss['node-change']"/>
                            </div>
                        </div>
                    </div>
                    <div id="FuncCalc" class="col s12">
                        <form-calc
                                :consts="current._calc.consts"
                                :formula="current._calc.formula"
                                :services="current._calc.services"
                                @change="updateCalc"
                        />
                    </div>
                    <div id="FuncChild" class="col s12">
                        <p>Сортировка потомков</p>

                        <draggable v-if="childrenBySort.length" v-model="childrenBySort" class="collection" @input="sortChildrens">
                            <div class="collection-item" v-for="item in childrenBySort" :key="item.id"
                                 v-html="item.name"/>
                        </draggable>
                        <span v-else>
                            Нет потомков для сортировки
                        </span>
                        <br><br>
                        <router-link :to="`/admin/${current.idRoot}?action=create&idParent=${current.id}`" class="btn" :disabled="!Permiss['node-change']">Добавить нового</router-link>
                    </div>
                    <div id="FuncTransition" class="col s12">
                        <router-link :to="`/admin/${current.idRoot}?action=create&idParent=${current.id}`"
                                     class="btn" :disabled="!Permiss['node-change']">
                            Добавить потомка
                        </router-link>
                        <div class="input-field">
                            <select @change="e => Change('to', e.target.value)" :disabled="!Permiss['node-change']">
                                <option :selected="current.to == null" value="null">Нет</option>
                                <option v-for="item in itemsRoot" :value="item.id"
                                        :selected="current.to == item.id"><span
                                        v-html="item.name"/>
                                </option>
                            </select>
                            <label>Переход</label>
                        </div>
                    </div>
                    <div id="FuncRemove" class="col s12">
                        <button class="btn" @click="Remember" :disabled="!Permiss['node-change']" title="Копировать узел целиком, включая потомков">Копировать узел</button>
                        <br>
                        <br>
                        <button class="btn" @click="InsertRemember" :disabled="!Permiss['node-change']" title="Вставить узел как потомок текущего узла">Вставить узел</button>

                        <br>
                        <br>
                        <br>
                        <br>

                        <button class="btn red" @click="Remove">Удалить элемент</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import CoreMixin from '../core-mixins'
    import CalcMixin from '../calc-mixins'
    import {mapState} from 'vuex'
    import draggable from 'vuedraggable'
    import FormCalc from "./FormCalc";

    export default {
        name: "FormEditStruct",
        mixins: [CoreMixin],
        props: {
            current: {type: Object, default: () => ({id: null})}
        },
        async mounted() {
            this.isShow = true;
            var instance = M.Tabs.init(this.$refs.tabs, {});
            //await this.$nextTick();
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
            this.childrenBySort = [...this.current.children];
            //await this.$nextTick();
        },
        async updated() {
            this.tabs = M.Tabs.init(this.$refs.tabs, {});
            await this.$nextTick();
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        },
        data: () => ({
            editor: ClassicEditor,
            editorData: '<p>Content of the editor.</p>',
            editorConfig: {
                // The configuration of the editor.
            },
            childrenBySort: [],
            isShow: false,
			tabs: {},
        }),
        computed: {
            CurrentPath() {
                return window.location.href
            },
            ...mapState(["itemsRoot", "serverUrl"]),
        },
		watch: {
            '$route'() {
                if (this.$route.query.action = 'create') {
                    this.tabs.select('FuncTextDesc');
				}
			}
		},
        methods: {
            toast(mes) {
                M.toast({html: mes})
            },
            sortChildrens(items) {
                console.log(items)
                let current = {...this.current};
                for (let i = 0; i < items.length; i++) {
                    items[i].sort = i;
                }
                current.children = [...items];
                this.$emit('change', current);
            },
            Remove() {
                this.TestPermiss('node-remove')
                if (confirm('Удалить элемент?'))
                    this.$router.push(`/admin/${this.current.id}?action=remove`)
            },
            Remember() {
                sessionStorage.Remember = JSON.stringify(this.current);
                this.toast("Узел скопирован")
            },
            InsertRemember() {
                let vm = this;
                if (!sessionStorage.Remember) return;
                let item = JSON.parse(sessionStorage.Remember);

                function rec(item) {
                    let current = {};
                    for (let key in item) current[key] = item[key]
                    current.id = vm.getNewTempId();
                    delete current.extend;

                    for (let index in current.children) {
                        current.children[index].idParent = current.id;
                        current.children[index] = rec(current.children[index])
                    }
                    vm.$emit('insert', current)
                    return {...current};
                }

                item.idParent = this.current.id
                item = rec(item);

                this.Change('children', [...this.current.children, item])
                this.toast("Узел вставлен")
            },
            Change(Path, Value) {
                let item = this.current;
                if (Path == 'name' && !Value) Value = 'No name'
                item[Path] = Value;
                //delete item.children;
                //delete item.extend;
                this.$emit('change', item);
            },
            hide() {
                this.$emit('hide');
            },
            async UploadImg() {
                this.TestPermiss('load-image')
                console.log('UploadImg')
                let form = new FormData();
                form.append('userfile', this.$refs.file.files[0]);
                form.append('refer', this.CurrentPath);
                form.append('id', this.current.id);

                let toast = M.toast({html: "Загрузка изображения"})
                await fetch(`${this.serverUrl}/opros/do_upload`, {
                        method: 'POST',
                        body: form,
                    }
                ).then(r => r.text())
                    .then(r => {
                        this.Change('img', r)
                    })
                    .catch(r => {
                        console.log(r)
                    })
                toast.dismiss();
                toast = M.toast({html: "Изображение загружено"})
            },
            async UploadVideoSmall() {
                this.TestPermiss('load-video')
                console.log('UploadVideoSmall')
                let form = new FormData();
                form.append('userfile', this.$refs.fileVideoSmall.files[0]);

                let toast = M.toast({html: "Загрузка видео для телефона"})
                let vm = this;
                await fetch(`${this.serverUrl}/opros/do_upload`, {
                        method: 'POST',
                        body: form,
                    }
                ).then(r => r.text())
                    .then(r => {
                        vm.Change('VideoSmall', r)
                    })
                    .catch(r => {
                        console.log(r)
                    })
                toast.dismiss();
                toast = M.toast({html: "Видео для телефона загружено"})
            },
            RemoveVideoSmall() {
                this.TestPermiss('node-change')
                this.Change('VideoSmall', null);
            },
            async UploadVideoBig() {
                this.TestPermiss('load-video')
                console.log('UploadVideoBig')
                let form = new FormData();
                form.append('userfile', this.$refs.fileVideoBig.files[0]);

                let toast = M.toast({html: "Загрузка видео"})
                let vm = this;
                await fetch(`${this.serverUrl}/opros/do_upload`, {
                        method: 'POST',
                        body: form,
                    }
                ).then(r => r.text())
                    .then(r => {
                        vm.Change('VideoBig', r)
                    })
                    .catch(r => {
                        console.log(r)
                    })
                toast.dismiss();
                toast = M.toast({html: "Видео загружено"})
            },
            RemoveVideoBig() {
                this.TestPermiss('node-change')
                this.Change('VideoBig', null);
            },
            updateCalc(e) {
                this.Change('_calc', e)
            },
        },
        components: {
            FormCalc,
            draggable
        }
    }
</script>

<style scoped lang="scss">
    .FormEditStruct {
        display: flex;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding-top: 5vh;
        justify-content: center;
        align-items: start;
        background-color: rgba(black, 0.2);
        transition: all 0.3s;
        z-index: 100;

        &.hide {
            display: block !important;
            opacity: 0;
        }

        .card {
            width: 900px;
            max-width: 80%;
            max-height: calc(100vh - 10vh);
            overflow-y: auto;

            .tabs {
                margin-bottom: 20px;
            }
        }
    }

</style>

<style lang="scss">
    #FuncTextDesc {
        .ck.ck-editor {
            margin-bottom: 20px;

            &:nth-child(2) .ck-editor__editable {
                min-height: 200px;
            }

            &:nth-child(4) .ck-editor__editable {
                min-height: 400px;
            }
        }
    }

    #FuncFoto {
        img {
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    #FuncVideo {
        & .col {
        }

        video, button {
            margin-bottom: 10px;
            display: block;
            width: 100%;
        }
    }

    #FuncTransition {
        min-height: 500px;

        .btn {
            margin-bottom: 20px;
        }
    }

    .tabs {
        height: auto;
        flex-wrap: wrap;
        .tab {
            line-height: 55px;
            a {
                padding: 0 12px;
            }
        }
    }

    .btn-close {
        position: absolute;
        top: 20px;
        right: 10px;
        cursor: pointer;
    }
</style>