<template>
    <div class="beckaps row">
        <div class="col s6"  v-for="item in items" @click="select(item)">
            <div class="card">
                <div class="card-content">
                    <span class="title">{{item.dateCreate}}</span>
                    <button class="btn right" @click.stop="removeBeckap(item.id)">Удалить</button>
                    <tree-chart :json="item.tree | toObj" small/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapGetters} from 'vuex'
    import TreeChart from './MyTreeChart'

    export default {
        name: 'FormLoadBeckaps',
        props: {
            id: { type: [String, Number], default: null }
        },
        components: {
            TreeChart
        },
        computed: {
            ...mapState(['itemsTemplates']),
            ...mapGetters(['beckapsForOpros']),
            items() {
                return this.beckapsForOpros(this.id)
            },
        },
        data: () => ({}),
        async created() {
            let toast = M.toast({html: "Загрузка бекапов"})
            await this.$store.dispatch('load-list-beckaps', this.id);
            toast.dismiss()
        },
        methods: {
            async select(item) {
                this.$emit('select', item);
            },
            removeBeckap(id) {
                let toast = M.toast({html: "Удаление бекапа"})
                this.$store.dispatch('removeBeckap', id);
                toast.dismiss()
                M.toast({html: "Бекап удален"})
            },
        },
        filters: {
            toObj(json) {
                return JSON.parse(json)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .title {
        font-size: 120%;
    }
    .beckaps {
        margin-top: 7rem;
    }

    .card {
        transition: all .3s;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .card-content {
            max-height: 500px;
            overflow: hidden;
        }
    }

</style>