<template>
	<div>
		<div class="">
			<div class="title"> Услуги</div>
			<table class="table services">
				<tr>
					<th class="name-services">Наименование</th>
					<th>Цена</th>
					<th>Действие</th>
				</tr>
				<tr v-for="(item, index) in this.values.services">
					<td>
						<input v-model="item.name" @change="resetSelect"/>
					</td>
					<td>
						<input v-model="item.price" @change="resetSelect"/>
					</td>
					<td>
						<button class="btn red" @click="removeServiceItem(index)">Удалить</button>
					</td>
				</tr>
			</table>
			<button class="btn" @click="appendServiceItem">Добавить услугу</button>
		</div>
		<div class="">
			<div class="title"> Константы</div>
			<table class="table consts">
				<tr>
					<th>Наименование</th>
					<th>Значение</th>
					<th>Редактир.</th>
					<th>Действие</th>
				</tr>
				<tr v-for="(item, index) in this.values.consts">
					<td>
						<input v-model="item.name" @change="resetSelect"/>
					</td>
					<td>
						<input v-model="item.default" @change="resetSelect"/>
					</td>
					<td>
						<label>
							<input type="checkbox" v-model="item.is_edit" @change="resetSelect"/>
							<span/>
						</label>
					</td>
					<td>
						<button class="btn red" @click="removeConstItem(index)">Удалить</button>
					</td>
				</tr>
			</table>
			<button class="btn" @click="appendConstItem">Добавить константу</button>
		</div>
		<div>
			<div class="title">Формула расчета</div>
			<div class="row">
				<div class="btns-list">
					<button class="btn" v-for="item in values.services" v-text="item.name" @click="appendFormulaItem({key: item.key, name: item.name, type: 'service'})"></button>
					<button class="btn" v-for="item in values.consts" v-text="item.name" @click="appendFormulaItem({key: item.key, name: item.name, type: 'const'})"></button>
					<button class="btn" v-for="item in operands" v-text="item.name" @click="appendFormulaItem({key: item.key, name: item.name, type: 'operand'})"></button>
				</div>
				<template v-if="false">
					<div class="col s10">
						<select v-model="choseFormulaItem">
							<optgroup label="Услуги">
								<option v-for="item in values.services"
										:value="{type: 'service', key: item.key}" v-text="item.name"></option>
							</optgroup>
							<optgroup label="Константы">
								<option v-for="item in values.consts" :value="{type: 'const', key: item.key}"
										v-text="item.name"></option>
							</optgroup>
							<optgroup label="Операнды">
								<option v-for="item in operands" :value="{type: 'operand', key: item.key}"
										v-text="item.name"></option>
							</optgroup>
						</select>
					</div>
					<div class="col s2">
						<button class="btn" @click="appendFormulaItem">Добавить элемент</button>
					</div>
				</template>
			</div>

			<template v-if="false">
				<draggable :value="values.formula" class="collection" @input="sortFormula">
					<div class="collection-item" v-for="(item, index) in formulaValues"
						 :key="`${item.type}-${index}-${item.key}`"
					>
						{{item.name}}
						<button class="right" @click="removeItemFormula(index)">Удалить</button>
					</div>
				</draggable>
			</template>
			<div v-else class="AreaFormula">
				<div v-for="item in formulaValues">
					{{item.name}}
				</div>
			</div>
		</div>
		<button class="btn red right" @click="removeLastFormula">Удалить последний</button>
		<div v-if="false">
			<button class="btn red" v-if="values.id" @click="$emit('remove', values.id)">Удалить</button>
			<div style="width: 100%;"></div>
			<button class="btn" v-if=" !values.id" @click="createCalc">Создать</button>
			<button class="btn" v-if="values.id" @click="saveCalc">Сохранить</button>
		</div>
	</div>
</template>

<script>
    import random from '../random'
    import draggable from 'vuedraggable'

    export default {
        name: "FormCalc",
        props: {
            consts: {type: Array, default: () => ([])},
            services: {type: Array, default: () => ([])},
            formula: {type: Array, default: () => ([])},
        },
        computed: {
            formulaValues() {
                let result = [];
                let operands = this.operands;
                for (let item of this.values.formula) {
                    if (item.type == 'const') {
                        result.push(this.values.consts.find(item_ => item_.key == item.key))
                    }
                    if (item.type == 'service') {
                        result.push(this.values.services.find(item_ => item_.key == item.key))
                    }
                    if (item.type == 'operand') {
                        result.push(operands.find(item_ => item_.key == item.key))
                    }
                }
                return result;
            },
        },
        mounted() {
            this.resetSelect();
            this.values.services = this.services;
            this.values.consts = this.consts;
            this.values.formula = this.formula;
        },
        watch: {
            services() {
                this.values.services = this.services;
            },
            consts() {
                this.values.consts = this.consts;
            },
            formula() {
                this.values.formula = this.formula;
            },
            values: {
                handler(val) {
                    this.applyChange();
                },
                deep: true
            }
        },
        data: () => ({
            values: {
                services: [],
                consts: [],
                formula: [],
            },
            choseFormulaItem: {},
            operands: [{"key": "+", "name": "+"}, {"key": "-", "name": "-"}, {"key": "/", "name": "/"}, {
                "key": "*",
                "name": "*"
            }, {"key": "(", "name": "("}, {"key": ")", "name": ")"}],
            select_instances: [],
        }),
        methods: {
            applyChange() {
                this.$emit('change', this.values)
            },
            async saveCalc() {
                let item = {...this.values};
                item.consts = JSON.stringify(this.values.consts);
                item.services = JSON.stringify(this.values.services);
                item.formula = JSON.stringify(this.values.formula);
                this.$emit('save', item)
            },
            async createCalc() {
                let item = {...this.values};
                item.consts = JSON.stringify(this.values.consts);
                item.services = JSON.stringify(this.values.services);
                item.formula = JSON.stringify(this.values.formula);
                this.$emit('create', item)
            },
            async resetSelect() {
                await this.$nextTick();
                await this.$nextTick();
                var elems = document.querySelectorAll('select');
                if (this.select_instances.length) {
                    for (let instance of this.select_instances) instance.getSelectedValues();
                }
                this.select_instances = M.FormSelect.init(elems, []);
            },
            appendServiceItem() {
                this.values.services.push({key: random(), name: '', price: '100'});
                this.resetSelect();
            },
            removeServiceItem(index) {
                let Item = this.values.services[index]
                if (this.values.formula.find(item => item.type == 'service' && item.key == Item.key)) {
                    M.toast({html: 'Элемент используется'})
                    return;
                }
                this.values.services.splice(index, 1);
                this.resetSelect();
            },
            appendConstItem() {
                this.values.consts.push({key: random(), name: '', default: '100', is_edit: true});
                this.resetSelect();
            },
            removeConstItem(index) {
                let Item = this.values.consts[index]
                if (this.values.formula.find(item => item.type == 'const' && item.key == Item.key)) {
                    M.toast({html: 'Элемент используется'})
                    return;
                }
                this.values.consts.splice(index, 1);
                this.resetSelect();
            },
            sortFormula(sort) {
                console.log({sort})
                this.values.formula = sort;
            },
            appendFormulaItem(item) {
                this.values.formula.push(item)
            },
            removeItemFormula(index) {
                this.values.formula.splice(index, 1)
            },
            removeLastFormula() {
                this.values.formula.pop();
			}
        },
        components: {
            draggable
        }
    }
</script>

<style scoped lang="scss">
	.title {
		margin: 0px 0px 10px;
		font-size: 120%;
	}

	table {
		tr {
			display: grid;
			align-items: center;
			grid-gap: 10px;
		}

		td {
			padding: 0px;

			input {
				margin: 0px;
			}
		}

		& + button {
			margin-top: 20px;
			margin-bottom: 40px;
		}

	}

	.services {
		tr {
			grid-template-columns: 1fr 100px 100px;
		}
	}

	.consts tr {
		grid-template-columns: 1fr 100px 100px 100px;

		& > td {
			&:nth-child(3) {
				text-align: center;
			}
		}
	}

	.btns {
		.card-content {
			display: flex;
		}
	}

	.btns-list {
		display: flex;
		flex-wrap: wrap;
		&>button {
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}

	.AreaFormula {
		display: flex;
		flex-wrap: wrap;
		min-height: 100px;
		&>* {
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
</style>