<template>
    <div class="wrap-item"
         :class="{'has-childrens': HasChildrens, 'has-two-childrens': HasTwoChildrens}"
         :style="{left: isRoot ? `${widthChildrens / 2 - widthWindow / 2}px` : null}"
    >
        <div class="item" :class="{'has-childrens': HasChildrens, 'has-two-childrens': HasTwoChildrens}"  @click="$emit('click-node', treeData)">
            <div class="title" v-html="json.name" />
            <img v-if="json.img" :src="json.img" />
            <div v-else class="desc" v-html="json.desc"/>
        </div>
        <div class="childrens" ref="childrens" >
            <component
                    v-for="children in childrens"
                    :is-root="false"
                    is="MyTreeChart" :json="children"
                    @click-node="$emit('click-node', $event)"
                    @draw="setWidth"
            />
        </div>
    </div>
</template>

<script>
    import ComponentExample from "vue-nestable/example/components/ComponentExample";

    export default {
        name: "MyTreeChart",
        components: {ComponentExample},
        props: {
            json: {type: [Object, Array], default: () => ({})},
            small: {type: Boolean, default: false},
            isRoot: { type: Boolean, default: true, }
        },
        data() {
            return {
                treeData: {},
                widthChildrens: null,
                widthWindow: null,
            }
        },
        computed: {
            childrens() {
                try {
                    return this.json.children.sort((item1, item2) => Number(item1.sort) >= Number(item2.sort) ? 1 : -1)
                } catch (e) {
                    return []
                }
            },
            HasChildrens() {
                if (!this.json || !this.json.children) return false;
                return this.json.children.length;
            },
            HasTwoChildrens() {
                if (!this.json || !this.json.children) return false;
                return !this.json.children.length > 1;
            }
        },
        async mounted() {
            for (let node of document.querySelectorAll("table *")) {
                node.addEventListener('dragstart', function (e) {
                    e.preventDefault();
                    return false;
                });
                node.addEventListener('mousemove', function (e) {
                    e.preventDefault();
                    return false;
                });
                node.setAttribute("draggable", false);
            }
            this.$emit('draw')
        },
        watch: {
            json: {
                handler: function (Props) {
                    let extendKey = function (jsonData) {
                        jsonData.extend = (jsonData.extend === void 0 ? true : !!jsonData.extend);
                        if (Array.isArray(jsonData.children)) {
                            jsonData.children.forEach(c => {
                                extendKey(c)
                            })
                        }
                        return jsonData;
                    }
                    if (Props) {
                        this.treeData = extendKey(Props);
                    }
                },
                immediate: true
            }
        },
        methods: {
            resize(scale = 1) {
                console.log('resize')
                this.widthChildrens = this.$refs.childrens.clientWidth * scale;
                this.widthWindow = window.innerWidth;
			},
            setWidth() {
                this.resize();
                this.$emit('set-width')
            },
            toggleExtend: function (treeData) {
                treeData.extend = !treeData.extend;
                this.$forceUpdate();
            }
        }
    }
</script>

<style>
    p {
        margin: 0px;
    }
</style>

<style lang="scss" scoped>

    .childrens .wrap-item {
        &:before {
            content: ' ';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: grey;
            top: -7px;
        }

        &:only-child:before {
            display: none;
        }

        &:first-child:before {
            left: 50%;
            width: 50%;
        }

        &:last-child:before {
            left: 0%;
            width: 50%;
        }
    }

    .childrens .wrap-item {
        .item {
            &:before {
                content: ' ';
                display: block;
                position: absolute;
                width: 1px;
                height: 18px;
                background-color: grey;
                top: -7px;
                left: 50%;
            }

            &.has-childrens:after {
                content: ' ';
                display: block;
                position: absolute;
                width: 1px;
                height: 14px;
                background-color: grey;
                margin-top: 11px;
                left: 50%;
            }
        }
    }

    .wrap-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        position: relative;

        .item {
            &.has-childrens:after {
                content: ' ';
                display: block;
                position: absolute;
                width: 1px;
                height: 14px;
                background-color: grey;
                margin-top: 11px;
                left: 50%;
            }

            padding: 10px;
            border: 1px solid darkslategrey;
            width: 200px;
            max-height: 200px;
            margin: 10px;
            margin-bottom: 20px;

            .title {
                font-size: 120%;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 50px;

                * {
                    margin: 0px !important;
                }

            }

            .desc {
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 85px;
            }

            img {
                max-width: 100%;
                max-height: 85px;
                margin: 0 auto;
                display: block;
            }
        }

        .childrens {
            display: flex;
        }
    }
</style>
